/*
=============== 
Fonts
===============
*/

@font-face {
	font-family: "pixel-art";
	src: url("../fonts/alagard.ttf");
}

/*
=============== 
Variables
===============
*/

:root {
	/* darker primary color */
	--color-primary-1: #082118;
	--color-primary-2: #112c21;
	--color-primary-3: #18392a;
	--color-primary-4: #255540;
	/* primary color */
	--color-primary-5: #3c8664;
	/* lighter primary color */
	--color-primary-6: #52b788;
	--color-primary-7: #74c69d;
	--color-primary-8: #95d5b2;
	--color-primary-9: #b7e4c7;
	--color-primary-9: #d8f3dc;
	/* darker blue-grey - used for headings */
	--color-grey-1: #102a42;
	--color-grey-2: #243a52;
	--color-grey-3: #324d67;
	--color-grey-4: #48647f;
	/* blue-grey used for paragraphs */
	--color-grey-5: #617d98;
	--color-grey-6: #829ab0;
	--color-grey-7: #9eb2c7;
	--color-grey-8: #bcccdc;
	--color-grey-9: #dae2ec;
	--color-grey-10: #f1f5f8;
	/* white */
	--color-white: #fff;
	/* black */
	--color-black: #000;
	/* other */
	--ff-primary: "Lato", sans-serif;
	--ff-title: "pixel-art";
	--transition: all 0.3s ease-in-out;
	--title-spacing: -0.05rem;
	--spacing: 0.125rem;
	--radius: 0.5rem;
}

/*
=============== 
Global
===============
*/

*,
::before,
::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

h1 {
	padding: 1rem 1.5rem;
	font-family: var(--ff-title);
	font-size: 3.25rem;
	text-transform: capitalize;
	letter-spacing: var(--title-spacing);
}

h2 {
	padding: 1rem 1.5rem;
	font-family: var(--ff-title);
	font-size: 2.5rem;
	text-transform: capitalize;
	letter-spacing: var(--title-spacing);
}

h3 {
	padding: 0.75rem 1.5rem;
	font-family: var(--ff-title);
	font-size: 2rem;
	text-transform: capitalize;
	letter-spacing: var(--title-spacing);
}

h4 {
	padding: 0.75rem 1.5rem;
	font-family: var(--ff-title);
	font-size: 1.5rem;
	text-transform: capitalize;
	letter-spacing: var(--title-spacing);
}

h5 {
	padding: 0.75rem 1.5rem;
	font-family: var(--ff-title);
	font-size: 1.25rem;
	text-transform: capitalize;
	letter-spacing: var(--title-spacing);
}

p {
	padding: 0 1.5rem;
	font-family: var(--ff-primary);
	font-size: 1rem;
}

a {
	text-decoration: none;
	color: var(--color-black);
}

img {
	object-fit: cover;
	width: 100%;
	display: block;
	overflow: hidden;
}

/*
=============== 
Class
===============
*/

.btn {
	display: inline-block;
	padding: 1rem 2rem;
	margin: 0.5rem 1.5rem;
	text-transform: uppercase;
	font-family: var(--ff-title);
	font-size: 1.5rem;
	letter-spacing: var(--spacing);
	background: linear-gradient(var(--color-grey-1), var(--color-grey-2));
	color: var(--color-white);
	border-radius: var(--radius);
	cursor: pointer;
}

.btn:hover {
	background: linear-gradient(var(--color-grey-1), var(--color-grey-3));
}

.btn:active {
	background: linear-gradient(var(--color-grey-2), var(--color-grey-4));
}

/*
=============== 
Media
===============
*/

@media screen and (min-width: 765px) {
	h1 {
		font-size: 4rem;
	}

	h2 {
		font-size: 3rem;
	}

	h3 {
		font-size: 2.25rem;
	}

	h4 {
		font-size: 1.75rem;
	}

	h5 {
		font-size: 1.5rem;
	}

	p {
		font-size: 1.125rem;
	}
}
